#contact{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: calc(100vh - 60px);

    h3{
        position: absolute;
        top: 12px;
        font-size: 1.7em;
        line-height: 40px;
        text-align: center;
        color: $primaryColor;
    }  

    & > div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 40px;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        background-color: $primaryColor;
        color: white;
        border-radius: 3px;
        transition: 200ms;
    }
    #LinkedIn{
        margin-bottom: 10px;

        &:hover{
            background-color: darken($primaryColor, 10);
        }
    }
    #GitHub{
        background-color: rgb(41, 40, 40);

        &:hover{
            background-color: rgb(19, 19, 19);
        }
    }

    img{
        min-width: 400px;
        width: 50%;
    }
}