#home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    padding: 10px;
    border-bottom: 1px solid lightgray;

    #presentation-text{
        font-size: 1.8em;
        span{
            font-size: 0.9em;
        }
        h1{
            color: $primaryColor;
        }

        h2{
            font-weight: 100;
            font-size: 1em;
        }
    }
    .cover-image{
        width: 100%;
    }
    .image-home{
        min-width: 400px;
        width: 45%;
    }
}

@media screen and (max-width: 900px){
   
    #presentation-text{
        font-size: 1.3em !important;
    }
}

@media screen and (max-width: 765px){
    #home{
        align-content: center;
    }
}

    