* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.932);
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

#logo {
  width: 60px;
}

#nav-bar ul {
  padding-right: 30px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-bar ul .link-nav {
  margin-left: 10px;
  border-radius: 3px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#nav-bar ul .link-nav:active {
  background-color: #d6d6d6;
}

#nav-bar ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #383838;
}

@media screen and (min-width: 960px) {
  .link-nav:hover {
    background-color: #d6d6d6;
  }
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

#home #presentation-text {
  font-size: 1.8em;
}

#home #presentation-text span {
  font-size: 0.9em;
}

#home #presentation-text h1 {
  color: #00386d;
}

#home #presentation-text h2 {
  font-weight: 100;
  font-size: 1em;
}

#home .cover-image {
  width: 100%;
}

#home .image-home {
  min-width: 400px;
  width: 45%;
}

@media screen and (max-width: 900px) {
  #presentation-text {
    font-size: 1.3em !important;
  }
}

@media screen and (max-width: 765px) {
  #home {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

#projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  background-color: #00386d;
  min-height: calc(100vh - 60px);
  padding: 70px 10px 80px;
}

#projects h3 {
  position: absolute;
  top: 15px;
  font-size: 1.7em;
  line-height: 40px;
  text-align: center;
  color: white;
}

#projects .project {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
  font-weight: 400;
  overflow: hidden;
  padding: 10px;
  width: 400px;
  height: 455px !important;
  background-color: white;
  border-radius: 10px;
}

#projects .delay {
  -webkit-animation: delayCard 1000ms forwards;
          animation: delayCard 1000ms forwards;
}

#projects .project-upside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10px -10px 10px;
  padding: 5px;
  color: #3d3d3d;
}

#projects .project-upside .glob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-right: 10px;
  background-color: rgba(245, 222, 179, 0);
  border-radius: 50%;
}

#projects .project-upside .glob img {
  width: 75%;
}

#projects .project-upside .project-title {
  padding-top: 8px;
  font-size: 1.2em;
  color: #530168;
}

#projects .project-upside .link-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

#projects .project-upside .link-lang .project-link {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 110px;
  font-size: 0.9em;
  line-height: 24px;
  color: #530168;
  border: 1px solid #530168;
  border-radius: 8px;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

#projects .project-upside .link-lang .project-link span {
  width: 100%;
  left: 65%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  z-index: 5;
}

#projects .project-upside .link-lang .languages {
  cursor: default;
  margin-left: 10px;
  text-align: center;
  height: 26px;
  width: 110px;
  padding: 2px 3px 0;
  background-color: #530168;
  border-radius: 8px;
}

#projects .project-upside .link-lang .languages-icon {
  width: 18px;
  margin-top: 2px;
}

#projects .project-cover {
  margin: 10px 0;
  width: 100%;
  border-radius: 3px;
}

#btn-see-more {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  font-size: 1.2em;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background: rgba(8, 36, 73, 0.63);
  border: none;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#btn-see-more:hover {
  background-color: rgba(1, 20, 44, 0.63);
}

@-webkit-keyframes delayCard {
  0% {
    opacity: 0;
  }
}

@keyframes delayCard {
  0% {
    opacity: 0;
  }
}

@media screen and (min-width: 960px) {
  .project-link:hover {
    color: white !important;
  }
  .project-link::before {
    position: absolute;
    z-index: 0;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #530168;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: 400ms;
    transition: 400ms;
    scale: 0 1;
  }
  .project-link:hover::before {
    scale: 1;
  }
}

@media screen and (max-width: 959px) {
  .project-link:active {
    color: white;
    background-color: #530168;
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin: auto;
  border-bottom: 1px solid lightgray;
}

#about h3 {
  color: #00386d;
  font-size: 1.7em;
  font-weight: 600;
}

#about img {
  margin: 20px 0;
  max-width: 300px;
  border-radius: 50%;
}

#about article {
  max-width: 720px;
  text-indent: 30px;
  line-height: 1.4em;
}

#contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
  height: calc(100vh - 60px);
}

#contact h3 {
  position: absolute;
  top: 12px;
  font-size: 1.7em;
  line-height: 40px;
  text-align: center;
  color: #00386d;
}

#contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 40px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #00386d;
  color: white;
  border-radius: 3px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#contact #LinkedIn {
  margin-bottom: 10px;
}

#contact #LinkedIn:hover {
  background-color: #001e3a;
}

#contact #GitHub {
  background-color: #292828;
}

#contact #GitHub:hover {
  background-color: #131313;
}

#contact img {
  min-width: 400px;
  width: 50%;
}
/*# sourceMappingURL=main.css.map */